<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="NuGet_TAMS" value="https://tams-dev-nuget.azurewebsites.net/nuget" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="NuGet_TAMS">
      <package pattern="Mtconnect.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
