<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="adapter" type="System.Configuration.DictionarySectionHandler" />
	</configSections>
	<adapter>
		<add key="maxConnections" value="10" />
		<add key="heartbeat" value="10000" />
		<!--<add key="enqueue" value="false" />-->

	</adapter>
</configuration>