<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="adapter" type="System.Configuration.DictionarySectionHandler" />
	</configSections>
	<adapter>
		<add key="deviceUuid" value="2c276642-fdce-460e-ae8e-be3682c9b02e" />
		<add key="maxConnections" value="10" />
		<add key="heartbeat" value="10000" />
		<!--<add key="enqueue" value="false" />-->
		<add key="sendDeviceModel" value="True" />
	</adapter>
</configuration>